<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/assets/favicon.jpg" type="image/x-icon">
    <title>@ViewData["Title"] - E_PlayersMVC</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/cadastro.css">
</head>

<body>
    <header>
        <div class="container_header grid">

            <a asp-area="" asp-controller="Home" asp-action="Index" target="_parent"><img id="logo" src="/assets/logo.svg" alt=""></a>

            <nav class="nav_header">
                <a asp-area="" asp-controller="Home" asp-action="Index" target="_parent">início</a>
                <a href="#proximos_jogos" target="_parent">horários</a>
                <a href="#como_participar" target="_parent">campeonato</a>
                <a href="#noticias" target="_parent">notícias</a>

                @if (ViewBag.UserName != null)
                {
                    <span class="boasvindas">Olá @ViewBag.UserName</span>
                    <a class="logout" asp-area="" asp-controller="Login" asp-action="Logout" target="_parent">logout</a>
                }else{
                    <a asp-area="" asp-controller="Login" asp-action="Index" target="_parent">login</a>
                }
                
            </nav>

            <div class="burguer">
                <div class="linha1"></div>
                <div class="linha2"></div>
                <div class="linha3"></div>
            </div>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="box_footer space_btw grid">

            <div class="flex links_footer">
                <div class="engloba_links">
                    <span class="span_grande_footer">Links Úteis</span>
                    <ul class="lista_footer">
                        <li><a href="">Regras de utilização</a></li>
                        <li><a href="">Suport</a></li>
                        <li><a href="">Central de ajuda</a></li>  
                        <li><a href="">Mande nos uma mensagem</a></li>
                    </ul>
                </div>
                <div class="engloba_links">
                    <span class="span_grande_footer">Páginas</span>
                    <ul class="lista_footer">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index" target="_parent">Ínicio</a></li>
                        <li><a href="#como_participar" target="_parent">Campeonatos</a></li>
                        <li><a href="">Classificações</a></li>
                        <li><a href="#noticias" target="_parent">Notícias</a></li>
                        <li><a href="../cadastro_jogador.html" target="_parent">Login/Cadastro</a></li>
                    </ul>
                </div>
            </div>

            <img class="logo" src="../assets/logo.svg" alt="">

            <div class="media">

                <span class="newsletter_escrita">Faça parte do nosso clan, assine nossa newsletter! </span>

                <div class="flex email_newsletter">
                    <input type="text" name="E-mail" placeholder="E-mail" id="input_email">

                    <button class="btn_cadastrar">cadastrar</button>
                </div>

                <div class="flex space_btw siga_nos">
                    <span>Siga-nos em:</span>
                    <img src="../assets/facebook.png" alt="">
                    <img src="../assets/instagram.png" alt="">
                    <img src="../assets/youtube.png" alt="">
                </div>


            </div>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
